@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

@import url(./_css/authPage.css);
@import url(./_css/homeLayout.css);

@import url(./_css/demo/tokpedProfileDD.css);
@import url(./_css/demo/multiInboxDD.css);
@import url(./_css/demo/tokpedNotifDD.css);
@import url(./_css/demo/customTabs.css);
@import url(./_css/demo/transactionContent.css);
@import url(./_css/demo/updateContent.css);
@import url(./_css/demo/tokpedCartDD.css);

@import url(./_css/demo/menuBurger.css);
@import url(./_css/demo/layoutOne.css);
@import url(./_css/demo/forms.css);

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Comfortaa',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --contentContainerLightMode: rgba(51, 65, 85, 0.05);
  --contentContainerDarkMode: rgba(51, 65, 85, 0.45);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5); 
  border-radius: 10px;
}

.bc-item svg {
  margin-right: 6px;
  align-items: center;
}